<div class="container">
  <!-- Title and Input -->
  <div class="header">
    <p class="title">Webpage QA</p>
    <app-input></app-input>
  </div>
  <br>
<div class="feedback-container" *ngIf="(data$ | async) as data">
  <div *ngIf="loading$ | async; else loaded" class="loading">
    <mat-spinner></mat-spinner>
  </div>

  <ng-template #loaded>
    
      <p *ngIf="data !== null" class="feedback-header">Feedback</p>
      <div *ngFor="let panel of data" class="panel">
        <app-panel
          [title]="panel.title"
          [score]="panel.score"
          [feedback]="panel.feedback"
          [issues]="panel.issues"
        ></app-panel>
    </div>
  </ng-template>    
  </div>

</div>
